.Clock{
    height: 300px;
    width: 300px;
    border: 8px solid black;
    border-radius: 50%;
    position: relative;
    margin-left: 700px;
}

.Clock-hourhand, .Clock-minhand, .Clock-sechand{
    position: absolute;
    height: 20px;
    width: 50%;
    top: 50%;
    left: 50%;
    transform-origin: 0% 50%;
    transform: rotate(90deg);
    transition: transform 0.05s cubic-bezier(0.4, 2.3, 0.3, 1);
}

.Clock-hourhand{
    background-color: black;
    height:3px;
}

.Clock-minhand{
    background-color: red;
    height: 1.8px;
}

.Clock-sechand{
    background-color: blue;
    height: 0.2px;
}